.home-bg{
    margin-top: 60px;
    background: url('../../../img/hero-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.hero-section{
    display: flex;
    align-items: center;
    height: 80vh;
}
.hero-title{
    margin-top: 0px;
    font-size:55px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}
.hero-section p{
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}
@media only screen and (max-width: 600px) {
    .hero-title{
        font-size: 32px;
        color: #fff;
    }
    .hero-section p{
        font-size: 20px;
    }
}