.login{
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.1s linear;
}
.login:hover{
    transform: scale(1.2);
}
.google{
    color: #E72734;
}
@media only screen and (max-width:600px) {
    .login{
        font-size: 30px;
        cursor: pointer;
        transition: transform 0.1s linear;
        padding-bottom: 10px;
    }
    .login:hover{
        transform: scale(1.2);
    }
}